.ultimate{
    font-size: 18px !important;
    font-weight: 400 !important;
}
.learn-more{
    font-size: 14px !important;
    font-weight: 400 !important;
}
.ekran{
    font-size: 20px !important;
    font-weight: 600 !important;
}
.item-1{
    height: 150px;
}
.item-2{
    height: 200px;
}
.item-3{
    height: 175px;
}
.item-4{
    height: 150px;
}
.item-5{
    height: 270px;
}
.item-6{
    height: 165px;
}
.item-7{
    height: 220px;
}
.item-8{
    height: 135px;
}
.item-9{
    height: 157px;
}
.item-10{
    height: 130px;
}

.problemfix {
    transform: translate(0, -1.6px);
}