.new-color, .new {
    font-size: 12px !important;
    font-weight: 400 !important;
    color: #bf4800;
}
.bg-boz { background-color: #f2f2f2; }
.bg-gri { background-color: #f9f9f9 !important; }
.fs14px { font-size: .8rem; }
.mb-10px { margin-bottom: 0px !important; }
.mb-18px { margin-bottom: 18px !important; }
.mb-30px { margin-bottom: 30px !important; }
.mrg-4 { margin-top: 4px;}

a:hover, nav ul a:hover {
    text-decoration: underline !important;
}

#nav2 {
    overflow-x: auto;
}
#nav2::-webkit-scrollbar {
    display: none;
}

.nav2 span {
    color: #bf4800;
    font-size: 10px;
}
.nav2 small {
    font-size: 12px;
    white-space: nowrap;
}

#se img, #airtag img, #apple-card img, #ios-17 img {
    height: 54px;
}
#se img { width: 19px; }
#airtag img { width: 30px; }
#apple-card img { width: 36px; }
#ios-17 img { width: 32px; }

.get-iphone p {
    font-size: 1.3rem;
}

#iph-15-x {
    display: none;
}
#iph-15-y img {
    height: 300px;
    min-width: 100% !important;
}

#iphone15-pro {
    background: #000;
}
#iphone-15bg {
    background: url('../img/iphone-15.jpg') 50%/cover;
    height: 200px;
}

#iphonese {
    background-color: #FBFBFD;
}
#iphonese h2 {
    background-clip: text;
    background-image: linear-gradient(90deg, rgb(30, 55, 145) 0%, rgb(41, 72, 177) 40%, rgb(49, 83, 198) 55%, rgb(56, 95, 218) 60%);
    color: transparent;
}

#bratva {
    background: url('../img/qaqa.jpg') 80%;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

#mbgd h5, #mbgd h3, #dskgd h5, #dskgd h3 {
    font-size: 19px !important;
    font-weight: 600 !important;
}
#mbgd h3, #dskgd h3 {
    font-size: 40px !important;
}
#mbgd a {
    font-size: 17px !important;
    font-weight: 400 !important;
}

.ulti {
    font-size: 18px !important;
    font-weight: 400 !important;
}
.lrn-mr {
    font-size: 14px !important;
    font-weight: 400 !important;
}
.ekran {
    font-size: 20px !important;
    font-weight: 600 !important;
}

@media only screen and (min-width: 768px) {
    #iph-15-x {
        display: initial;
    }
    #iph-15-y {
        display: none;
    }
    .vh-lg-100 {
        height: 100vh;
    }
    #iphone-15bg {
        height: 300px;
        background-size: auto;
    }
    #bratva {
        border-radius: 50px;
    }
    #mbgd {
        display: none;
    }
    #dskgd {
        display: initial !important;
    }
    #dskgd h5 {
        font-size: 30px !important;
    }
    #dskgd h3 {
        font-size: 48px !important;
    }
}

@media only screen and (max-width: 768px) {
    .get-iphone p {
        margin: auto;
        font-size: 1em !important;
    }
}

@media only screen and (max-width: 230px) {
    i.fa-apple {
        margin-left: 1.2rem !important;
    }
}