.ulti, .lrn-mr {
    font-size: 18px !important;
    font-weight: 400 !important;
}
.ekran {
    font-size: 20px !important;
    font-weight: 600 !important;
}
.item-1 { height: 150px; }
.item-2 { height: 200px; }
.item-3 { height: 175px; }
.item-4 { height: 150px; }
.item-5 { height: 270px; }
.item-6 { height: 165px; }
.item-7 { height: 220px; }
.item-8 { height: 135px; }
.item-9 { height: 157px; }
.item-10 { height: 130px; }
ul, ol {
    list-style: none;
}
#navbarSupportedContent a {
    white-space: nowrap;
}
#nav2 {
    overflow-x: auto;
}
#nav2::-webkit-scrollbar {
    display: none;
}
.nav2 span {
    color: #bf4800;
    font-size: 10px;
}
.nav2 small {
    font-size: 12px;
    white-space: nowrap;
}
#i-se-light img { height: 54px; width: 19px; }
#airtag-light img { height: 54px; width: 30px; }
#apple-card-light img { height: 54px; width: 36px; }
#ios-17-light img { height: 54px; width: 32px; }
.iphone-new {
    color: #f56300;
    font-size: .7em;
    margin-bottom: 0;
}
#iphone15-pro, #iphonese {
    background: #000;
}
#iphonese {
    background-color: #FBFBFD;
}
#iphonese h2 {
    background-clip: text;
    background-image: linear-gradient(90deg, rgb(30, 55, 145) 0%, rgb(41, 72, 177) 40%, rgb(49, 83, 198) 55%, rgb(56, 95, 218) 60%);
    color: transparent;
}
#bratva {
    background: url('../img/qaqa.jpg') 80%;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}
#card-1, #card-2 {
    background-color: #fff;
    padding: 50px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
#card-1 h3, #card-2 h3 {
    font-size: 1.5em;
    font-weight: 600;
}
#card-2 span, .includes {
    font-size: 12px;
    font-weight: 600;
    color: rgb(110, 110, 115);
}
#card-3, #card-4 {
    /* max-height: 500px; */
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    background-color: #fff;
    padding: 50px 0 0 0;
}
#grid-img1 {
    background: url('../img/grid-1.jpg') no-repeat 0% 10%;
    width: 734px;
    height: 387px;
    background-size: 734px 387px;
}
#grid-img2{
    background: url('../img/a1.jpg')center/cover no-repeat;
    background-size: 736px 251px;
    height: 251px;
    width: 100%;
}
.wrapper2 h3 {
    font-size: 3em;
    font-weight: 600;
}
.wrapper2 p, .wrapper2 a {
    font-size: 21px;
    font-weight: 400;
    width: 290px;
}
#feature-img1 {
    background: url('../img/a2.jpg') no-repeat;
    background-size: 233px 182px;
    width: 233px;
    height: 182px;
    margin: auto;
}
#feature-img2 {
    background: url('../img/a3.jpg') center no-repeat;
    background-size: auto 397px;
    height: 397px;
    margin: auto;
}
#feature-img3 {
    background: url('../img/a4.jpg') no-repeat center 80%;
    height: 500px;
}
#what-makesimg1 { background: url('../img/a5.jpg') no-repeat; height: 500px; background-size: cover; background-position: 10% 70%; width: 100%; }
#what-makesimg2 { background: url('../img/a6.jpg') no-repeat; height: 258px; background-size: 734px 258px; background-position: -80% 80%; width: 734px; }
.wrapper5 { overflow: hidden; }
#what-makesimg3 { background: url('../img/a7.jpg') center/cover no-repeat; height: 440px; }
#get-more h2 { font-size: 32px; }
.one p, .fitness p, .arcade p, .news p, .gift p, .intro p {
    font-size: 21px;
    font-weight: 600;
    max-width: 315px;
}
.one a, .fitness a, .arcade a, .news a, .gift a, .intro a {
    font-size: 21px;
    font-weight: 400;
    text-decoration: none;
    margin: 0 10px;
}
#fitnessimg { background: url('../img/a8.jpg'); height: 348px; background-repeat: no-repeat; background-position: bottom; background-size: 734px 555px; width: 100%; margin: auto; }
#grid-3 { height: 256px; overflow: hidden; display: grid; gap: 5px; margin-left: -105px; grid-template-columns: repeat(7, auto); grid-template-rows: repeat(3, auto); }
#newsimg { background: url('../img/a9.jpg'); background-size: 736px 490px; height: 300px; width: 100%; background-position: 50% 100%; }
#giftimg { background: url('../img/a10.jpg'); background-size: 694px 247px; width: 100%; height: 247px; background-position: 50% 50%; }
.intro h3 { font-size: 32px; font-weight: 600; }
#introimg { background: url('../img/a11.jpg'); background-size: 277px 305px; width: 277px; height: 305px; }
.acc-bg { background-color: #F5F5F7; }
footer { background-color: #F5F5F7; color: #0000008f; font-size: 12px; font-weight: 400; }
.footer-cnt { max-width: 980px; padding: 10px 22px; margin: auto; }
.first { border-bottom: 1px solid #00000029; padding-bottom: 11px; }
.middles { padding: 14px 0; }
.middles p { font-size: 1.3em; color: rgba(0, 0, 0, 0.72); }
.middles a { color: #0000008f; margin-bottom: 10px; text-decoration: none; }
.dest-ftr a { font-size: 1em; display: inline-block; margin-bottom: 10px; }
.accordion-item button { font-size: 12px; }
.dest-ftr ul > p { font-size: 15px; color: #000000e0; font-weight: 600; }
.middles-ftr p { font-size: 12px; }
.son a { color: #0000008f; padding: 0 10px; text-decoration: none; }
@media only screen and (min-width: 734px) {
    #grid-1 {
        display: grid;
        max-width: 734px;
        margin: auto;
        gap: 10px;
        grid-template-columns: repeat(2, 362px);
        grid-template-rows: repeat(3, auto);
    }
    .wrapper5, #feature-cnt1, #feature-cnt2, #feature-cnt3 {
        max-width: 734px;
        margin: auto;
        overflow: hidden;
    }
    #card-1 {
        grid-area: 1 / 1 / 2 / 3;
    }
    #card-2 {
        max-height: 600px;
        padding: 50px 0 !important;
    }
    #card-3 {
        max-height: 600px;
        padding: 0;
    }
    #card-4 {
        grid-area: 3 / 1 / 4 / 3;
    }
    #feature-img1 {
        background: url('../img/a12.jpg') center/cover no-repeat;
        width: 349px;
        height: 273px;
        margin: auto;
    }
    #feature-img2 {
        background: url('../img/a13.jpg') center/cover no-repeat;
        width: 427px;
        height: 378px;
        margin: auto;
    }
    #feature-img3 {
        background: url('../img/a14.jpg') center/90% no-repeat;
        height: 500px;
    }
    #what-makesimg1 {
        background: url('../img/a15.jpg') center/cover no-repeat;
        width: 736px;
        height: 514px;
    }
    .what {
        min-height: 460px !important;
    }
    #what-makesimg3 {
        height: 460px;
    }
    #get-more h2, #what-makes h2 {
        font-size: 56px;
    }
    #grid-2 {
        display: grid;
        gap: 10px;
        grid-template-columns: 50% 50%;
        grid-template-rows: repeat(3, auto);
    }
    #one {
        grid-area: 1 / 1 / 2 / 3;
    }
    #fitness {
        grid-area: 2 / 1 / 3 / 2;
    }
    #arcade {
        grid-area: 2 / 2 / 3 / 3;
    }
    #intro {
        grid-area: 4 / 1 / 5 / 3;
    }
    .farc {
        height: 500px;
        overflow: hidden !important;
    }
    #newsimg {
        background: url('../img/a16.jpg') center/130% no-repeat;
        background-size: 360px 490px;
        height: 300px;
        width: 100%;
    }
    #giftimg {
        background: url('../img/a17.jpg') center/cover no-repeat;
        background-size: 358px 169px;
        height: 247px;
    }
}
@media only screen and (min-width: 1068px) {
    .wrapper1 {
        max-width: 90%;
        margin: auto;
    }
    #grid-1 {
        display: grid;
        max-width: 100%;
        gap: 10px;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(2, auto);
    }
    .wrapper5, #feature-cnt1, #feature-cnt2, #feature-cnt3 {
        max-width: 100%;
    }
    #grid-img1 {
        background-position: 50% 100%;
        background-size: auto;
    }
    #grid-img2 {
        background-size: cover;
        background-position: -50% 0%;
    }
    #card-1 {
        grid-area: 1 / 1 / 2 / 2;
    }
    #card-1, #card-2, #card-3 {
        max-height: 600px;
    }
    #card-4 {
        grid-area: 2 / 1 / 3 / 4;
    }
    .wrapper2 {
        overflow: hidden;
    }
    #feature-img1 {
        background: url('../img/a18.jpg') center/cover no-repeat;
        width: 633px;
        height: 463px;
        margin: auto;
    }
    #feature-img2 {
        background: url('../img/a19.jpg') center/cover no-repeat;
        width: 806px;
        height: 531px;
        margin: auto;
    }
    #feature-img3 {
        background: url('../img/a20.jpg') center/90% no-repeat;
        width: 1063px;
        height: 700px;
        margin: auto;
    }
    #what-makesimg1 {
        background: url('../img/a21.jpg') center/cover no-repeat;
        height: 560px;
        width: 100%;
        margin: auto;
        background-position: bottom;
    }
    #what-makes h3 {
        font-size: 3em;
    }
    .what {
        min-height: 500px !important;
    }
    #what-makesimg3 {
        height: 500px;
    }
    .px227 {
        height: 227px;
        width: 227px;
    }
    .px105 {
        height: 105px;
        width: 105px;
    }
    #grid-3 {
        height: 350px;
    }
    .farc {
        height: 550px !important;
    }
    #newsimg {
        background: url('../img/a22.jpg') center/100% no-repeat;
        background-size: 675px 590px;
        height: 320px;
        width: 100%;
    }
    #giftimg {
        background: url('../img/a23.jpg') center/cover no-repeat;
        background-size: 675px 319px;
        height: 319px;
    }
    .intro h3 {
        font-size: 48px;
    }
    #introimg {
        background: url('../img/a24.jpg') center/cover no-repeat;
        background-size: 766px 388px;
        width: 766px;
        height: 388px;
    }
}
@media only screen and (min-width: 768px) {
    .middles {
        border-bottom: 1px solid #00000029;
        margin-bottom: 10px;
    }
    .get-iphone {
        max-width: 50%;
        margin: auto;
        font-size: .95em !important;
    }
    .from-i15 {
        font-size: 1.4em !important;
    }
    #iph-15-x {
        display: initial;
    }
    #iph-15-y {
        display: none;
    }
    .vh-lg-100 {
        height: 100vh;
    }
    .position-lg-absolute {
        position: absolute;
    }
    #iphone-15bg {
        height: 300px;
        background-size: auto;
    }
    #iphone15 {
        border-bottom: 10px solid #eee;
    }
    #bratva {
        border-radius: 50px;
    }
    #mbgd {
        display: none;
    }
    #dskgd {
        display: initial !important;
    }
    #dskgd h5, #dskgd h3 {
        font-size: 30px !important;
        font-weight: 600 !important;
    }
}